<div class="max-w-md w-full p-6 bg-white rounded-md shadow-md">
  <h2 class="text-2xl font-semibold mb-6 text-center">Login with OAuth</h2>

  <.link href={~p"/auth/google"}>
    <.button>Login with Google</.button>
  </.link>
  <.link href={~p"/auth/github"}>
    <.button>Login with Github</.button>
  </.link>
</div>
